@*2.0.0 deprecated because too many units missing and too many alternative systems
but retain for potential custom use (see Input.cshtml)*@
<div id="divUnits">
<select id="1" class="Select0">
    <option value="100">100</option>
    <option value="1000 kernels">1000 kernels</option>
    <option value="7">7</option>
    <option value="abampere">abampere</option>
    <option value="abcoulomb">abcoulomb</option>
    <option value="abfarad">abfarad</option>
    <option value="ampere">ampere</option>
    <option value="ampere (absolute)">ampere (absolute)</option>
    <option value="ampere-hours">ampere-hours</option>
    <option value="ampere-turns">ampere-turns</option>
    <option value="amp-turns/cm">amp-turns/cm</option>
    <option value="amp-turns/in">amp-turns/in</option>
    <option value="amp-turns/meter">amp-turns/meter</option>
    <option value="angstrom unit">angstrom unit</option>
    <option value="animal unit month">animal unit month</option>
    <option value="Animal Unit Month per hectare per year">Animal Unit Month per hectare per year</option>
    <option value="astronomical unit">astronomical unit</option>
    <option value="atmospheres">atmospheres</option>
    <option value="bag">bag</option>
    <option value="bag (film)">bag (film)</option>
    <option value="bale gross">bale gross</option>
    <option value="bale net">bale net</option>
    <option value="Banned">Banned</option>
    <option value="barrel">barrel</option>
    <option value="barrels (oil)">barrels (oil)</option>
    <option value="bars">bars</option>
    <option value="basket">basket</option>
    <option value="box">box</option>
    <option value="bushel">bushel</option>
    <option value="cabeza">cabeza</option>
    <option value="cada uno">cada uno</option>
    <option value="caja">caja</option>
    <option value="caliber">caliber</option>
    <option value="calorie">calorie</option>
    <option value="calorie, gram (mean)">calorie, gram (mean)</option>
    <option value="candle/sq. cm">candle/sq. cm</option>
    <option value="candle/sq. inch">candle/sq. inch</option>
    <option value="carat(metric)">carat(metric)</option>
    <option value="carga">carga</option>
    <option value="carton">carton</option>
    <option value="case">case</option>
    <option value="centares (centiares)">centares (centiares)</option>
    <option value="centigrams">centigrams</option>
    <option value="centiliter">centiliter</option>
    <option value="centimeter-dynes">centimeter-dynes</option>
    <option value="centimeter-grams">centimeter-grams</option>
    <option value="centimeters">centimeters</option>
    <option value="centimeters of mercury">centimeters of mercury</option>
    <option value="centimeters/sec">centimeters/sec</option>
    <option value="centimeters/sec/sec">centimeters/sec/sec</option>
    <option value="chain">chain</option>
    <option value="chain (Gunter's)">chain (Gunter's)</option>
    <option value="chain (surveyor's or Gunter's)">chain (surveyor's or Gunter's)</option>
    <option value="circular mils">circular mils</option>
    <option value="circumference">circumference</option>
    <option value="cm-dynes">cm-dynes</option>
    <option value="cm-grams">cm-grams</option>
    <option value="cms of mercury">cms of mercury</option>
    <option value="cms/hr/sec">cms/hr/sec</option>
    <option value="cms/sec">cms/sec</option>
    <option value="cms/sec/sec">cms/sec/sec</option>
    <option value="copa de bayer">copa de bayer</option>
    <option value="cord feet">cord feet</option>
    <option value="cords">cords</option>
    <option value="corte">corte</option>
    <option value="coulomb">coulomb</option>
    <option value="coulombs/sq. cm">coulombs/sq. cm</option>
    <option value="coulombs/sq. in">coulombs/sq. in</option>
    <option value="coulombs/sq. meter">coulombs/sq. meter</option>
    <option value="cow">cow</option>
    <option value="crate">crate</option>
    <option value="crate">crate</option>
    <option value="cu centimeter">cu centimeter</option>
    <option value="cu cms/sec">cu cms/sec</option>
    <option value="cu ft/hr">cu ft/hr</option>
    <option value="cu ft/sec">cu ft/sec</option>
    <option value="cu inch">cu inch</option>
    <option value="cu meter">cu meter</option>
    <option value="cu millimeter">cu millimeter</option>
    <option value="cu yards">cu yards</option>
    <option value="cu yards/min">cu yards/min</option>
    <option value="cubic centimeters">cubic centimeters</option>
    <option value="cubic feet/acre/year">cubic feet/acre/year</option>
    <option value="cubic feet/min">cubic feet/min</option>
    <option value="cups">cups</option>
    <option value="day">day</option>
    <option value="decibals">decibals</option>
    <option value="decigrams">decigrams</option>
    <option value="deciliters">deciliters</option>
    <option value="decimeters">decimeters</option>
    <option value="degrees">degrees</option>
    <option value="degrees (angle)">degrees (angle)</option>
    <option value="degrees celsius">degrees celsius</option>
    <option value="degrees centigrade">degrees centigrade</option>
    <option value="degrees/sec">degrees/sec</option>
    <option value="dekagrams">dekagrams</option>
    <option value="dekaliters">dekaliters</option>
    <option value="dekameters">dekameters</option>
    <option value="dollars per hectare">dollars per hectare</option>
    <option value="dozen">dozen</option>
    <option value="dram">dram</option>
    <option value="drops">drops</option>
    <option value="dyne/cm">dyne/cm</option>
    <option value="dyne/sq. cm">dyne/sq. cm</option>
    <option value="dyne-centimeters">dyne-centimeters</option>
    <option value="dyne-cm/sec">dyne-cm/sec</option>
    <option value="dynes">dynes</option>
    <option value="each">each</option>
    <option value="enterprise">enterprise</option>
    <option value="erg/sec">erg/sec</option>
    <option value="erg/sq. millimeter">erg/sq. millimeter</option>
    <option value="ergs">ergs</option>
    <option value="ergs/sec">ergs/sec</option>
    <option value="farad">farad</option>
    <option value="faraday/sec">faraday/sec</option>
    <option value="faradays">faradays</option>
    <option value="farm">farm</option>
    <option value="farm">farm</option>
    <option value="flat">flat</option>
    <option value="gal/sec">gal/sec</option>
    <option value="gallons/min">gallons/min</option>
    <option value="gauses">gauses</option>
    <option value="gilberts">gilberts</option>
    <option value="gilberts/cm">gilberts/cm</option>
    <option value="gms/cm">gms/cm</option>
    <option value="gms/cu cm">gms/cu cm</option>
    <option value="grains">grains</option>
    <option value="grains/gal">grains/gal</option>
    <option value="grains/imp. gallon">grains/imp. gallon</option>
    <option value="gram/cm sec">gram/cm sec</option>
    <option value="gram-cal">gram-cal</option>
    <option value="gram-cal/sec">gram-cal/sec</option>
    <option value="gram-centimeters">gram-centimeters</option>
    <option value="grams">grams</option>
    <option value="grams per liter">grams per liter</option>
    <option value="grams/cm">grams/cm</option>
    <option value="grams/cu cm">grams/cu cm</option>
    <option value="grams/cu. cm">grams/cu. cm</option>
    <option value="grams/hectare">grams/hectare</option>
    <option value="grams/liter">grams/liter</option>
    <option value="grams/sq. cm">grams/sq. cm</option>
    <option value="grams-cms">grams-cms</option>
    <option value="habitat units">habitat units</option>
    <option value="hand">hand</option>
    <option value="head (of livestock)">head (of livestock)</option>
    <option value="hectare">hectare</option>
    <option value="hectare - centimeters">hectare - centimeters</option>
    <option value="hectare - centimeters per hour">hectare - centimeters per hour</option>
    <option value="hectare - meters">hectare - meters</option>
    <option value="hectare - millimeters">hectare - millimeters</option>
    <option value="hectare or sq. hectometer">hectare or sq. hectometer</option>
    <option value="hectares">hectares</option>
    <option value="hectograms">hectograms</option>
    <option value="hectoliters">hectoliters</option>
    <option value="hectometers">hectometers</option>
    <option value="hectowatts">hectowatts</option>
    <option value="henries">henries</option>
    <option value="hogsheads (British)">hogsheads (British)</option>
    <option value="hogsheads (U.S.)">hogsheads (U.S.)</option>
    <option value="hora">hora</option>
    <option value="horsepower">horsepower</option>
    <option value="horsepower (boiler)">horsepower (boiler)</option>
    <option value="horsepower (metric)">horsepower (metric)</option>
    <option value="horsepower-hour (metric)">horsepower-hour (metric)</option>
    <option value="hour">hour</option>
    <option value="hours (mean solar)">hours (mean solar)</option>
    <option value="hours/hectare">hours/hectare</option>
    <option value="hours/metric ton">hours/metric ton</option>
    <option value="hp-hrs">hp-hrs</option>
    <option value="Hr">Hr</option>
    <option value="inches of mercury">inches of mercury</option>
    <option value="inches of water at 4C">inches of water at 4C</option>
    <option value="index">index</option>
    <option value="international ampere">international ampere</option>
    <option value="international volt">international volt</option>
    <option value="job">job</option>
    <option value="jornalas">jornalas</option>
    <option value="joule">joule</option>
    <option value="joules/cm">joules/cm</option>
    <option value="joules/meter (newton)">joules/meter (newton)</option>
    <option value="joules/sec">joules/sec</option>
    <option value="kg/hectare active ingredient">kg/hectare active ingredient</option>
    <option value="kg-cal">kg-cal</option>
    <option value="kg-calories/min">kg-calories/min</option>
    <option value="kg-meters">kg-meters</option>
    <option value="kgs/cu meter">kgs/cu meter</option>
    <option value="kgs/sq meter">kgs/sq meter</option>
    <option value="kgs/sq. cm">kgs/sq. cm</option>
    <option value="kilogram-calories">kilogram-calories</option>
    <option value="kilogram-meters">kilogram-meters</option>
    <option value="kilograms">kilograms</option>
    <option value="kilograms/cu meter">kilograms/cu meter</option>
    <option value="kilograms/hectare">kilograms/hectare</option>
    <option value="kilograms/meter">kilograms/meter</option>
    <option value="kilograms/sq cm">kilograms/sq cm</option>
    <option value="kilograms/sq meter">kilograms/sq meter</option>
    <option value="kilograms/sq mm">kilograms/sq mm</option>
    <option value="kilojoules">kilojoules</option>
    <option value="kilolines">kilolines</option>
    <option value="kiloliters">kiloliters</option>
    <option value="kilometers">kilometers</option>
    <option value="kilometers/hr">kilometers/hr</option>
    <option value="kilometers/hr/sec">kilometers/hr/sec</option>
    <option value="kilometers/min">kilometers/min</option>
    <option value="kiloram-meters">kiloram-meters</option>
    <option value="kilowatt">kilowatt</option>
    <option value="kilowatt-hrs">kilowatt-hrs</option>
    <option value="kms/hr">kms/hr</option>
    <option value="kms/hr/sec">kms/hr/sec</option>
    <option value="kms/min">kms/min</option>
    <option value="knots">knots</option>
    <option value="knots/min">knots/min</option>
    <option value="lamberts">lamberts</option>
    <option value="lbs of water evap. at 212F">lbs of water evap. at 212F</option>
    <option value="lbs of water from 62-212F">lbs of water from 62-212F</option>
    <option value="league">league</option>
    <option value="light year">light year</option>
    <option value="lines/sq cm">lines/sq cm</option>
    <option value="liters">liters</option>
    <option value="liters/min">liters/min</option>
    <option value="liters/sec">liters/sec</option>
    <option value="lug">lug</option>
    <option value="lumen">lumen</option>
    <option value="lumen/sq meter">lumen/sq meter</option>
    <option value="lumens/sq ft">lumens/sq ft</option>
    <option value="lux">lux</option>
    <option value="manzana">manzana</option>
    <option value="maxwells">maxwells</option>
    <option value="megajoules/square meter">megajoules/square meter</option>
    <option value="megalines">megalines</option>
    <option value="megohms">megohms</option>
    <option value="meter-kgs">meter-kgs</option>
    <option value="meters">meters</option>
    <option value="meters/min">meters/min</option>
    <option value="meters/sec">meters/sec</option>
    <option value="meters/sec/sec">meters/sec/sec</option>
    <option value="meters/second">meters/second</option>
    <option value="metric tonnes/hectare">metric tonnes/hectare</option>
    <option value="metric tons/hour">metric tons/hour</option>
    <option value="microfarad">microfarad</option>
    <option value="micrograms">micrograms</option>
    <option value="microhms">microhms</option>
    <option value="microliters">microliters</option>
    <option value="micron">micron</option>
    <option value="milliers">milliers</option>
    <option value="milligrams">milligrams</option>
    <option value="milligrams/hectare">milligrams/hectare</option>
    <option value="milligrams/liter">milligrams/liter</option>
    <option value="millihenries">millihenries</option>
    <option value="milliliter">milliliter</option>
    <option value="millimeters">millimeters</option>
    <option value="million gals./day">million gals./day</option>
    <option value="million gals/day">million gals/day</option>
    <option value="millmicrons">millmicrons</option>
    <option value="milogram per liter">milogram per liter</option>
    <option value="minims (British)">minims (British)</option>
    <option value="minute (time)">minute (time)</option>
    <option value="minutes">minutes</option>
    <option value="minutes (angles)">minutes (angles)</option>
    <option value="month">month</option>
    <option value="nepers">nepers</option>
    <option value="newton">newton</option>
    <option value="none or n/a">none or n/a</option>
    <option value="Number per 100 ml">Number per 100 ml</option>
    <option value="Number per Sq. Meter">Number per Sq. Meter</option>
    <option value="Number per Unit">Number per Unit</option>
    <option value="ohm (absolute)">ohm (absolute)</option>
    <option value="ohm (international)">ohm (international)</option>
    <option value="ohms">ohms</option>
    <option value="Organic carbon: %">Organic carbon: %</option>
    <option value="Organic matter: %">Organic matter: %</option>
    <option value="package">package</option>
    <option value="parsec">parsec</option>
    <option value="parts per million">parts per million</option>
    <option value="parts per thousand">parts per thousand</option>
    <option value="parts/million">parts/million</option>
    <option value="percent">percent</option>
    <option value="percent grade">percent grade</option>
    <option value="peso">peso</option>
    <option value="pH">pH</option>
    <option value="Plank's quantum">Plank's quantum</option>
    <option value="Plants/square meter">Plants/square meter</option>
    <option value="poise">poise</option>
    <option value="pounds (troy)">pounds (troy)</option>
    <option value="quadrants">quadrants</option>
    <option value="quadrants (angle)">quadrants (angle)</option>
    <option value="quintal">quintal</option>
    <option value="quintals per hectare">quintals per hectare</option>
    <option value="radians">radians</option>
    <option value="radians/sec">radians/sec</option>
    <option value="radians/sec/sec">radians/sec/sec</option>
    <option value="ranch">ranch</option>
    <option value="ranch">ranch</option>
    <option value="ratio">ratio</option>
    <option value="revolutions">revolutions</option>
    <option value="revolutions/min">revolutions/min</option>
    <option value="revolutions/min/min">revolutions/min/min</option>
    <option value="revolutions/sec">revolutions/sec</option>
    <option value="revolutions/sec/sec">revolutions/sec/sec</option>
    <option value="revs./min/min">revs./min/min</option>
    <option value="revs./min/sec">revs./min/sec</option>
    <option value="revs./sec">revs./sec</option>
    <option value="revs./sec/sec">revs./sec/sec</option>
    <option value="revs/min">revs/min</option>
    <option value="revs/min/min">revs/min/min</option>
    <option value="revs/min/sec">revs/min/sec</option>
    <option value="revs/sec/sec">revs/sec/sec</option>
    <option value="sack">sack</option>
    <option value="saco (150 libra)">saco (150 libra)</option>
    <option value="second">second</option>
    <option value="second (time)">second (time)</option>
    <option value="seconds">seconds</option>
    <option value="seconds (angle)">seconds (angle)</option>
    <option value="seeds/hectare">seeds/hectare</option>
    <option value="SF">SF</option>
    <option value="site index">site index</option>
    <option value="slug">slug</option>
    <option value="span">span</option>
    <option value="sphere">sphere</option>
    <option value="spherical candle power">spherical candle power</option>
    <option value="sq cms">sq cms</option>
    <option value="sq kms">sq kms</option>
    <option value="sq meters">sq meters</option>
    <option value="sq miles">sq miles</option>
    <option value="sq millimeters">sq millimeters</option>
    <option value="sq mils">sq mils</option>
    <option value="square centimeters">square centimeters</option>
    <option value="square kilometers">square kilometers</option>
    <option value="square meters">square meters</option>
    <option value="square millimeters">square millimeters</option>
    <option value="square mils">square mils</option>
    <option value="statcoulombs">statcoulombs</option>
    <option value="statvolts">statvolts</option>
    <option value="steradians">steradians</option>
    <option value="tablespoons (metric)">tablespoons (metric)</option>
    <option value="tarea">tarea</option>
    <option value="teaspoons">teaspoons</option>
    <option value="teaspoons (metric)">teaspoons (metric)</option>
    <option value="tonnes" selected>tonnes</option>
    <option value="tonnes/cubic meter">tonnes/cubic meter</option>
    <option value="tons (metric)">tons (metric)</option>
    <option value="tray">tray</option>
    <option value="volt (absolute)">volt (absolute)</option>
    <option value="volt inch">volt inch</option>
    <option value="volt/cm">volt/cm</option>
    <option value="watt">watt</option>
    <option value="watt (absolute)">watt (absolute)</option>
    <option value="watt (international)">watt (international)</option>
    <option value="watt per square meter">watt per square meter</option>
    <option value="watt-hours">watt-hours</option>
    <option value="watts">watts</option>
    <option value="watts (absolute)">watts (absolute)</option>
    <option value="webers">webers</option>
    <option value="webers/sq cm">webers/sq cm</option>
    <option value="webers/sq meter">webers/sq meter</option>
    <option value="webers/sq. cm">webers/sq. cm</option>
    <option value="webers/sq. meter">webers/sq. meter</option>
    <option value="week">week</option>
    <option value="weeks">weeks</option>
    <option value="year (mean of 4 year period)">year (mean of 4 year period)</option>
</select>
<select id="1001" class="Select0">
    <option value="100 foot">100 foot</option>
    <option value="1000 kernels">1000 kernels</option>
    <option value="50 pounds">50 pounds</option>
    <option value="acre">acre</option>
    <option value="acre - feet">acre - feet</option>
    <option value="acre - inches">acre - inches</option>
    <option value="animal unit month">animal unit month</option>
    <option value="Animal Unit Month per acre per year">Animal Unit Month per acre per year</option>
    <option value="bag">bag</option>
    <option value="Bale Cotton">Bale Cotton</option>
    <option value="barrel">barrel</option>
    <option value="barrels (US dry)">barrels (US dry)</option>
    <option value="barrels (US, liquid)">barrels (US, liquid)</option>
    <option value="basket">basket</option>
    <option value="board feet">board feet</option>
    <option value="bolt (US cloth)">bolt (US cloth)</option>
    <option value="box">box</option>
    <option value="british thermal unit">british thermal unit</option>
    <option value="Btu (mean)/min">Btu (mean)/min</option>
    <option value="Btu/hr">Btu/hr</option>
    <option value="Btu/min">Btu/min</option>
    <option value="Btu/sq. ft/min">Btu/sq. ft/min</option>
    <option value="bucket (Brit. dry)">bucket (Brit. dry)</option>
    <option value="bushel">bushel</option>
    <option value="Bushel Barley">Bushel Barley</option>
    <option value="Bushel Buckwheat">Bushel Buckwheat</option>
    <option value="Bushel Corn">Bushel Corn</option>
    <option value="Bushel Dry Cowpeas and Peas">Bushel Dry Cowpeas and Peas</option>
    <option value="Bushel Emmer and Spelt">Bushel Emmer and Spelt</option>
    <option value="Bushel Flaxseed">Bushel Flaxseed</option>
    <option value="Bushel Oats for Grain">Bushel Oats for Grain</option>
    <option value="Bushel Proso Millet">Bushel Proso Millet</option>
    <option value="Bushel Rye">Bushel Rye</option>
    <option value="Bushel Sorghum">Bushel Sorghum</option>
    <option value="Bushel Sweetpotatoes">Bushel Sweetpotatoes</option>
    <option value="Bushel Triticale">Bushel Triticale</option>
    <option value="Bushel Wheat">Bushel Wheat</option>
    <option value="bushels/acre">bushels/acre</option>
    <option value="carton">carton</option>
    <option value="case">case</option>
    <option value="Code (ad-862)">Code (ad-862)</option>
    <option value="cow">cow</option>
    <option value="crate">crate</option>
    <option value="cu feet">cu feet</option>
    <option value="cu yard">cu yard</option>
    <option value="day">day</option>
    <option value="dollars per acre">dollars per acre</option>
    <option value="dozen">dozen</option>
    <option value="drachm (Brit. fluid)">drachm (Brit. fluid)</option>
    <option value="dram (U.S. fluid)">dram (U.S. fluid)</option>
    <option value="each">each</option>
    <option value="ell">ell</option>
    <option value="em (pica)">em (pica)</option>
    <option value="enterprise">enterprise</option>
    <option value="farm">farm</option>
    <option value="fathom">fathom</option>
    <option value="feet">feet</option>
    <option value="feet of water">feet of water</option>
    <option value="feet/100 feet">feet/100 feet</option>
    <option value="feet/feet">feet/feet</option>
    <option value="feet/hr">feet/hr</option>
    <option value="feet/min">feet/min</option>
    <option value="feet/sec">feet/sec</option>
    <option value="feet/sec/sec">feet/sec/sec</option>
    <option value="flat">flat</option>
    <option value="foot-candle">foot-candle</option>
    <option value="foot-lbs">foot-lbs</option>
    <option value="foot-lbs/min">foot-lbs/min</option>
    <option value="foot-lbs/sec">foot-lbs/sec</option>
    <option value="foot-pounds">foot-pounds</option>
    <option value="foot-pounds/min">foot-pounds/min</option>
    <option value="foot-pounds/sec">foot-pounds/sec</option>
    <option value="ft. of water (at 4 degrees C)">ft. of water (at 4 degrees C)</option>
    <option value="ft/sec/sec">ft/sec/sec</option>
    <option value="ft-lbs/min">ft-lbs/min</option>
    <option value="ft-lbs/sec">ft-lbs/sec</option>
    <option value="furlongs">furlongs</option>
    <option value="gallon">gallon</option>
    <option value="Gallon Goat Milk">Gallon Goat Milk</option>
    <option value="gallons per minute">gallons per minute</option>
    <option value="gills">gills</option>
    <option value="head">head</option>
    <option value="horsepower">horsepower</option>
    <option value="horsepower hour">horsepower hour</option>
    <option value="hour">hour</option>
    <option value="hours/acre">hours/acre</option>
    <option value="hours/ton">hours/ton</option>
    <option value="hundred weight">hundred weight</option>
    <option value="hundred weight per acre">hundred weight per acre</option>
    <option value="hundredweights (long)">hundredweights (long)</option>
    <option value="hundredweights (short)">hundredweights (short)</option>
    <option value="inch">inch</option>
    <option value="job">job</option>
    <option value="lb/acre active ingredient">lb/acre active ingredient</option>
    <option value="linear feet">linear feet</option>
    <option value="lines/sq in">lines/sq in</option>
    <option value="lines/sq. inch">lines/sq. inch</option>
    <option value="links (engineers)">links (engineers)</option>
    <option value="links (surveyers)">links (surveyers)</option>
    <option value="Lint 480 Cotton">Lint 480 Cotton</option>
    <option value="LS">LS</option>
    <option value="lug">lug</option>
    <option value="mile">mile</option>
    <option value="mile (nautical)">mile (nautical)</option>
    <option value="miles/hr">miles/hr</option>
    <option value="miles/hr/sec">miles/hr/sec</option>
    <option value="miles/min">miles/min</option>
    <option value="mil-feet">mil-feet</option>
    <option value="mils">mils</option>
    <option value="minims (US fluid)">minims (US fluid)</option>
    <option value="nautical miles/hr">nautical miles/hr</option>
    <option value="none or n/a">none or n/a</option>
    <option value="Number per Unit">Number per Unit</option>
    <option value="ounce">ounce</option>
    <option value="ounce/sq. in">ounce/sq. in</option>
    <option value="package">package</option>
    <option value="peck">peck</option>
    <option value="pennyweight (troy)">pennyweight (troy)</option>
    <option value="per $1,000 assets">per $1,000 assets</option>
    <option value="per $100 property">per $100 property</option>
    <option value="percent">percent</option>
    <option value="pint">pint</option>
    <option value="pints (US dry)">pints (US dry)</option>
    <option value="pound">pound</option>
    <option value="pound/cu ft">pound/cu ft</option>
    <option value="poundals">poundals</option>
    <option value="pound-feet">pound-feet</option>
    <option value="pounds of water">pounds of water</option>
    <option value="pounds of water/hr">pounds of water/hr</option>
    <option value="pounds of water/min">pounds of water/min</option>
    <option value="pounds per square inch">pounds per square inch</option>
    <option value="pounds/1000 gal">pounds/1000 gal</option>
    <option value="pounds/acre">pounds/acre</option>
    <option value="pounds/cu ft">pounds/cu ft</option>
    <option value="pounds/cu in">pounds/cu in</option>
    <option value="pounds/cu. ft">pounds/cu. ft</option>
    <option value="pounds/cu. in">pounds/cu. in</option>
    <option value="pounds/ft">pounds/ft</option>
    <option value="pounds/in">pounds/in</option>
    <option value="pounds/inch">pounds/inch</option>
    <option value="pounds/mil-foot">pounds/mil-foot</option>
    <option value="pounds/million gal">pounds/million gal</option>
    <option value="pounds/sq ft">pounds/sq ft</option>
    <option value="pounds/sq in">pounds/sq in</option>
    <option value="pounds/sq. ft">pounds/sq. ft</option>
    <option value="pounds/sq. ft.">pounds/sq. ft.</option>
    <option value="pounds/sq. in">pounds/sq. in</option>
    <option value="pounds/sq. in.">pounds/sq. in.</option>
    <option value="quart (dry)">quart (dry)</option>
    <option value="quart (liquid)">quart (liquid)</option>
    <option value="ranch">ranch</option>
    <option value="rod">rod</option>
    <option value="rods">rods</option>
    <option value="rods (surveyors meas.)">rods (surveyors meas.)</option>
    <option value="sack">sack</option>
    <option value="scruples">scruples</option>
    <option value="SEA">SEA</option>
    <option value="sq chain (Gunters)">sq chain (Gunters)</option>
    <option value="sq feet">sq feet</option>
    <option value="sq inch">sq inch</option>
    <option value="sq links (Gunters)">sq links (Gunters)</option>
    <option value="sq rods">sq rods</option>
    <option value="sq yards">sq yards</option>
    <option value="square (shingles)">square (shingles)</option>
    <option value="square feet">square feet</option>
    <option value="square inches">square inches</option>
    <option value="square miles">square miles</option>
    <option value="statute miles/hr">statute miles/hr</option>
    <option value="sy/in">sy/in</option>
    <option value="tablespoons (US)">tablespoons (US)</option>
    <option value="teaspoons (US)">teaspoons (US)</option>
    <option value="thousand board feet">thousand board feet</option>
    <option value="ton" selected>ton</option>
    <option value="ton mile">ton mile</option>
    <option value="ton/sq. inch">ton/sq. inch</option>
    <option value="tons (long)">tons (long)</option>
    <option value="tons (short)">tons (short)</option>
    <option value="tons (short)/sq ft">tons (short)/sq ft</option>
    <option value="tons of water/24 hrs">tons of water/24 hrs</option>
    <option value="tons/acre">tons/acre</option>
    <option value="tons/hour">tons/hour</option>
    <option value="tons/sq. ft">tons/sq. ft</option>
    <option value="tray">tray</option>
    <option value="trees per acre">trees per acre</option>
    <option value="watts/sq. in">watts/sq. in</option>
    <option value="webers/sq in">webers/sq in</option>
    <option value="webers/sq. inch">webers/sq. inch</option>
    <option value="yard">yard</option>
    <option value="Yard Mile (Hauling)">Yard Mile (Hauling)</option>
    <option value="yards/hr">yards/hr</option>
    </select>
</div>