@{
    Layout = null;
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        DevTreks Error Message
    </h2>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <p>@ViewData["Error"]</p>

</body>
</html>