@using DevTreks.Helpers;
@using DevTreks.Data.AppHelpers;

@model DevTreks.Data.ContentURI
@{
    ViewBag.Title = "Network";
}
<div>
    @{
        if (Model.URINodeName == Networks.NETWORK_BASE_TYPES.networkbasegroup.ToString())
        {
            @await Html.PartialAsync("AdminModelViews/_NetworkGroup", ViewData.Model)
        }
        else if (Model.URINodeName == Networks.NETWORK_TYPES.networkaccountgroup.ToString())
        {
            @await Html.PartialAsync("AdminModelViews/_NetworkGroup", ViewData.Model)
        }
        else if (Model.URINodeName == Networks.NETWORK_BASE_TYPES.networkbase.ToString())
        {
            @await Html.PartialAsync("AdminModelViews/_Network", ViewData.Model)
        }
        else if (Model.URINodeName == Networks.NETWORK_TYPES.network.ToString())
        {
            @await Html.PartialAsync("AdminModelViews/_AccountToNetwork", ViewData.Model)
        }
        <br />
        <div>
            @Html.LinkMobile("feedback", string.Concat("mailto:", @Model.URIClub.AccountEmail, "?subject=", @Model.URIFull),
                string.Empty, string.Concat("Feedback About ", @Model.URIPattern), "button", "true", "false",
                "info", "left")
        </div>
    }
</div>