@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    DevTreks<br />
    1930 NW Irving Street, 402<br />
    Portland, OR 97209<br />
    <abbr title="Phone">P:</abbr>
    leave 1 and only 1 message at: 503.796.7949
</address>

<address>
    <strong>Support:</strong> <a href="none">review the tutorials</a><br />
    <strong>Marketing:</strong> <a href="none">evidence-based software doesn't do fiction</a>
</address>
