@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This site uses cookies for the purpose of easing navigation for logged in club members.
    Outside the data provided by members to identify themselves, we store no personal data 
    whatsoever for anyone using the web software and site. Our platform expects clubs and 
    members to use the highest ethical and scientific standards when collecting socioeconomic 
    data related to the stakeholders they assist. Clubs and members must comply with all local, 
    national, and international standards for privacy protection.
 </p>
