@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This site uses cookies for the purpose of easing navigation for logged in club members.
    We store no personal data whatsoever for anyone using the web software and site.</p>
