@using DevTreks.Helpers;
@using AppHelpers = DevTreks.Data.AppHelpers;
@using DataHelpers = DevTreks.Data.Helpers.GeneralHelpers;
@using DevTreks.Models;


@model DevTreks.ViewModels.MemberViewModel

@{
    ViewBag.Title = AppHelper.GetResource("PAY");
}

<div id="divPayments">

</div>

