@using DevTreks.Helpers;
@model DevTreks.Data.ContentURI
@{
    ViewBag.Title = "Budgets";
}
<div>
    @{
        if (Model.URIModels.Service != null)
        {
            @await Html.PartialAsync("ContentModelViews/_BudgetService", ViewData.Model)
        }
        else if (Model.URIModels.BudgetSystem != null)
        {
            @await Html.PartialAsync("ContentModelViews/_BudgetClass", ViewData.Model)
        }
        else if (Model.URIModels.BudgetSystemToEnterprise != null)
        {
            @await Html.PartialAsync("ContentModelViews/_BudgetToEnterprise", ViewData.Model)
        }
        else if (Model.URIModels.BudgetSystemToTime != null)
        {
            @await Html.PartialAsync("ContentModelViews/_BudgetToTime", ViewData.Model)
        }
        else if (Model.URIModels.BudgetSystemToOutcome != null)
        {
            @await Html.PartialAsync("ContentModelViews/_BudgetToOutcome", ViewData.Model)
        }
        else if (Model.URIModels.BudgetSystemToOutput != null)
        {
            @await Html.PartialAsync("ContentModelViews/_BudgetToOutput", ViewData.Model)
        }
        else if (Model.URIModels.BudgetSystemToOperation != null)
        {
            @await Html.PartialAsync("ContentModelViews/_BudgetToOperation", ViewData.Model)
        }
        else if (Model.URIModels.BudgetSystemToInput != null)
        {
            @await Html.PartialAsync("ContentModelViews/_BudgetToInput", ViewData.Model)
        }
        <br />
        <div>
            @Html.LinkMobile("feedback", string.Concat("mailto:", @Model.URIClub.AccountEmail, "?subject=", @Model.URIFull),
                string.Empty, string.Concat("Feedback About ", @Model.URIPattern), "button", "true", "false",
                "info", "left")
        </div>
    }
</div>