@using DevTreks.Helpers;
@model DevTreks.Data.ContentURI
@{
    ViewBag.Title = "Component";
}
<div>
    @{
        if (Model.URIModels.Service != null)
        {
            @await Html.PartialAsync("ContentModelViews/_ComponentService", ViewData.Model)
        }
        else if (Model.URIModels.ComponentClass != null)
        {
            @await Html.PartialAsync("ContentModelViews/_ComponentClass", ViewData.Model)
        }
        else if (Model.URIModels.Component != null)
        {
            @await Html.PartialAsync("ContentModelViews/_Component", ViewData.Model)
        }
        else if (Model.URIModels.ComponentToInput != null)
        {
            @await Html.PartialAsync("ContentModelViews/_ComponentToInput", ViewData.Model)
        }
        <br />
        <div>
            @Html.LinkMobile("feedback", string.Concat("mailto:", @Model.URIClub.AccountEmail, "?subject=", @Model.URIFull),
                string.Empty, string.Concat("Feedback About ", @Model.URIPattern), "button", "true", "false",
                "info", "left")
        </div>
    }
</div>