@using DevTreks.Helpers;
@model DevTreks.Data.ContentURI
@{
    ViewBag.Title = "LinkedView";
}
<div>
    @{
        if (Model.URIModels.Service != null)
        {
            @await Html.PartialAsync("ContentModelViews/_LinkedViewService", ViewData.Model)
        }
        else if (Model.URIModels.LinkedViewClass != null)
        {
            @await Html.PartialAsync("ContentModelViews/_LinkedViewClass", ViewData.Model)
        }
        else if (Model.URIModels.LinkedViewPack != null)
        {
            @await Html.PartialAsync("ContentModelViews/_LinkedViewPack", ViewData.Model)
        }
        else if (Model.URIModels.LinkedView != null)
        {
            @await Html.PartialAsync("ContentModelViews/_LinkedView", ViewData.Model)
        }
        <br />
        <div>
            @Html.LinkMobile("feedback", string.Concat("mailto:", @Model.URIClub.AccountEmail, "?subject=", @Model.URIFull),
                string.Empty, string.Concat("Feedback About ", @Model.URIPattern), "button", "true", "false",
                "info", "left")
        </div>
    }
</div>