@using DevTreks.Helpers;
@model DevTreks.Data.ContentURI
@{
    ViewBag.Title = "Operation";
}
<div>
    @{
        if (Model.URIModels.Service != null)
        {
            @await Html.PartialAsync("ContentModelViews/_OperationService", ViewData.Model)
        }
        else if (Model.URIModels.OperationClass != null)
        {
            @await Html.PartialAsync("ContentModelViews/_OperationClass", ViewData.Model)
        }
        else if (Model.URIModels.Operation != null)
        {
            @await Html.PartialAsync("ContentModelViews/_Operation", ViewData.Model)
        }
        else if (Model.URIModels.OperationToInput != null)
        {
            @await Html.PartialAsync("ContentModelViews/_OperationToInput", ViewData.Model)
        }
        <br />
        <div>
            @Html.LinkMobile("feedback", string.Concat("mailto:", @Model.URIClub.AccountEmail, "?subject=", @Model.URIFull),
                string.Empty, string.Concat("Feedback About ", @Model.URIPattern), "button", "true", "false",
                "info", "left")
        </div>
    }
</div>