@using DevTreks.Helpers;
@model DevTreks.Data.ContentURI
@{
    ViewBag.Title = "Output";
}
<div>
    @{
        if (Model.URIModels.Service != null)
        {
            @await Html.PartialAsync("ContentModelViews/_OutputService", ViewData.Model)
        }
        else if (Model.URIModels.OutputClass != null)
        {
            @await Html.PartialAsync("ContentModelViews/_OutputClass", ViewData.Model)
        }
        else if (Model.URIModels.Output != null)
        {
            @await Html.PartialAsync("ContentModelViews/_Output", ViewData.Model)
        }
        else if (Model.URIModels.OutputSeries != null)
        {
            @await Html.PartialAsync("ContentModelViews/_OutputSeries", ViewData.Model)
        }
        <br />
        <div>
            @Html.LinkMobile("feedback", string.Concat("mailto:", @Model.URIClub.AccountEmail, "?subject=", @Model.URIFull),
                string.Empty, string.Concat("Feedback About ", @Model.URIPattern), "button", "true", "false",
                "info", "left")
        </div>
    }
</div>